<%= form_for @post, :html => { :class => 'form-horizontal' } do |f| %>
  <p class="col-lg-offset-2 text-success">test....</p>
  <div class="form-group">
    <%= f.label :title, :class => 'col-sm-2 control-label' %>
    <div class="col-md-3">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'col-sm-2 control-label' %>
    <div class="col-md-3">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
  </div>

  <div class="col-md-offset-1">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            posts_path, :class => 'btn btn-default' %>
  </div>
<% end %>
